.textInput {
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  height: 50px;
  font-size: 16px;
  width: 90vw;
  padding: 10px;
}

.aliasInput {
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  width: 90vw;
  padding: 10px;
}
.error {
  margin-top: 5px;
  color: #4555af;
}

.sendButton {
  margin-top: 20px;
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  min-width: 10%;
  max-width: 20%;
  background-color: #50ca5e;
  color: white;
}
.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modelContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
